!!! 5
html
  head
    title Thinkful Adder/Subtracter
    link(href='http://fonts.googleapis.com/css?family=Pontano+Sans|Stint+Ultra+Expanded', rel='stylesheet')
    link(href="css/styles.css", rel="stylesheet")

  body
    .top-bar
    .wrap
      h1 Adder/Subtracter

      .form-group
        label X =
        input#input-x(type="text", placeholder="Enter an integer")

      .form-group
        label Y =
        input#input-y(type="text", placeholder="Enter an integer")

      .error

      .btn-group
        button.btn.btn-plus(data-operator="add") &#43;
        button.btn.btn-minus(data-operator="subtract") &#45;

      p <span class="x-value">X</span> <span class="operator">plus/minus</span> <span class="y-value">Y</span> is <span class="z-value">Z</span>

    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="js/scripts.js")
